.home-search-container {
  background-color: rgb(19, 19, 19);
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 350px) {
  .home-search-container {
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 576px) {
  .home-search-container {
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .home-search-container {
    background-color: rgb(19, 19, 19);
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .home-search-container {
    background-color: rgb(19, 19, 19);
    height: 1300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .home-search-container {
    background-color: rgb(19, 19, 19);
    height: 180vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.searchImage-container {
  width: 90vw;
  overflow-y: scroll;
  flex-grow: 1;
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) {
  .searchImage-container {
    width: 90vw;
    overflow-y: scroll;
    flex-grow: 1;

    margin-bottom: 20px;

    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .searchImage-container {
    width: 90vw;
    overflow-y: scroll;
    flex-grow: 1;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .searchImage-container {
    width: 60vw;
    overflow-y: scroll;
    flex-grow: 1;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .searchImage-container {
    width: 60vw;
    overflow-y: scroll;
    flex-grow: 1;
  }
}

::-webkit-scrollbar {
  display: none;
}

.body {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
  align-items: center;
}
@media screen and (min-width: 350px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    overflow-y: scroll;
    align-items: center;
  }
}
@media screen and (min-width: 576px) {
  .body {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    align-items: center;
  }
}
.popular-footer {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .body {
    display: flex;
    height: auto;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    align-items: center;
  }
}

@media screen and (min-width: 998px) {
  .body {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-home {
    position: absolute;
    left: 68%;
    right: 0%;
    top: 100%;
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.pages-home {
  text-align: center;
  font-family: Bree Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  padding-top: 10px;
  text-align: center;

  /* Light / blue-gray / 300 */
  color: #cbd5e1;
}

@media screen and (min-width: 576px) {
  .pages-home {
    text-align: center;
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    /* Light / blue-gray / 300 */
    color: #cbd5e1;
  }
}
@media screen and (min-width: 768px) {
  .pages-home {
    text-align: center;
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    /* Light / blue-gray / 300 */
    color: #cbd5e1;
  }
}
@media screen and (min-width: 998px) {
  .pages-home {
    text-align: center;
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    /* Light / blue-gray / 300 */
    color: #cbd5e1;
  }
}
@media screen and (min-width: 1024px) {
  .pages-home {
    text-align: center;
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    /* Light / blue-gray / 300 */
    color: #cbd5e1;
  }
}
.container-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
@media screen and (min-width: 567px) {
  .container-bottom {
    margin-top: 20px;
  }
}
.left-box-popular {
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 30px;
  margin-top: 0px;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 576px) {
  .left-box-popular {
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 45px;
    margin-top: 0px;
    width: 40px;
    height: 40px;
  }
}
.right-box-popular {
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 30px;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 576px) {
  .right-box-popular {
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 30px;
    margin-left: 30px;
    width: 40px;
    height: 40px;
  }
}
.left-click-home-popular {
  /* Icon */
  /* Icon */
  /* Icon */
  position: relative;
  top: -19%;
  left: -75%;
  color: #ffffff;
  transform: rotate(-360deg);
}
@media screen and (min-width: 576px) {
  .left-click-home-popular {
    /* Icon */
    /* Icon */
    /* Icon */
    position: relative;
    top: -26%;
    left: -54%;
    color: #ffffff;
    transform: rotate(-360deg);
  }
}
.right {
  /* Icon */
  color: #ffffff;
  position: relative;
  top: -20%;
  left: -28%;
  transform: rotate(360deg);
}
@media screen and (min-width: 576px) {
  .right {
    /* Icon */
    color: #ffffff;
    position: relative;
    top: -26%;
    left: -23%;
    transform: rotate(360deg);
  }
}
