.image-sim {
  height: 90px;
  width: 80px;
  border-radius: 5px;
  margin-left: 5px;
}
@media screen and (min-width: 200px) {
  .image-sim {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-left: 5px;
  }
}
@media screen and (min-width: 280px) {
  .image-sim {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 360px) {
  .image-sim {
    height: 90px;
    width: 90px;
    border-radius: 8px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 400px) {
  .image-sim {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border-radius: 8px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 576px) {
  .image-sim {
    height: 100px;
    width: 110px;
    border-radius: 8px;
    margin-left: 5px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .image-sim {
    height: 150px;
    width: 180px;
    border-radius: 8px;
    margin-left: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .image-sim {
    height: 200px;
    margin-right: 10px;
    width: 230px;
    border-radius: 8px;
  }
}
